.seat {
    border-radius: 50%;
    background-color: #C3CFD9;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat.occupied {
    background-color: #FBE192;
    cursor:initial;
}
.seat.selected {
    background-color: #8DD7CF;
}