.seats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    column-gap: 7px;
    width: 95%;
    margin: auto;
}

.break { 
    flex-basis: 100%;
    height: 18px;
} 

.seat {
    border-radius: 50%;
    background-color: #C3CFD9;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat.occupied {
    background-color: #FBE192;
    cursor:initial;
}
.seat.selected {
    background-color: #8DD7CF;
}

.example{
    display: flex;
    width: 87%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 40px;

}

.example div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #4E5A65;
}

.fields {
    width:328px;
    margin-left: 24px;
    margin: auto;
}

.buyer-name, .buyer-cpf{
    display: block;
    color:#293845;
    font-size: 18px;
    margin-top: 7px;
    line-height: 25px;

}
input {
    display: block;
    width: 327px;
    height: 51px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

input::placeholder {
    font-size: 18px;
    font-style: italic;
    color: #AFAFAF;
}

button {
    display: block;
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    padding: 0;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 57px;
}