* {
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.root > section:first-of-type{
    padding-top: 67px;
}

h2{
    font-size: 24px;
    color: #293845;
    margin-top: 45px;
    margin-bottom: 45px;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    display: block;
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    border-radius: 3px;
    padding: 0;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 57px;
    cursor: pointer;
}